#keyboard {
    font-size: 0;
}

.key-container {
    position: relative;
    display: inline-block;
}

.white-key {
    margin: 0;
    border: 1px solid black;
    height: 200px;
    width: 50px;
    display: inline-block;
}

.black-key {
    display: inline-block;
    position: absolute;
    left: 40px;
    height: 120px;
    width: 24px;
    background-color: black;
}

.played-white {
    z-index: -1;
    position: relative;
    background-color: green;
    box-shadow: 5px 10px;
    transition: all 0.3s;
}

.played-black {
    /* z-index: -1; */
    /* position: relative; */
    background-color: purple;
    box-shadow: 5px 10px;
    transition: all 0.3s;
}